[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/liboqs"]
	path = vendor/liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/libressl"]
	path = vendor/libressl
	url = https://github.com/libressl/portable
[submodule "vendor/openbsd"]
	path = vendor/openbsd
	url = https://github.com/libressl/openbsd
